/* @import url("https://fonts.googleapis.com/css2?family=Poppins, sans-serif") */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Extrabold&display=swap");

.fontfamily {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Open Sans Extrabold", "Courier New", Courier, monospace;
}
